/* You can add global styles to this file, and also import other style files */
.logo {
	width: 70px;
	height: 25px;
	display: inline-block;
	background-image: url(../src/images/spriteImg.png) no-repeat;
	background-position: 0px -102px;
}
.homeFooter {
	color: #fff;
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	z-index: 9999;
	padding-bottom: 15px;
}
.arrowBottomDesign {
	position: relative;
	overflow: hidden;
	height: 100px;
}
.arrowBottomDesign::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100px;
	border-left: 1600px solid transparent;
	border-bottom: 100px solid #f5f5f5;
	left: 0px;
	bottom: 0px;
}
.arrowBottomDesign::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100px;
	border-right: 1600px solid transparent;
	border-bottom: 100px solid #f5f5f5;
	right: 0px;
	bottom: 0px;
}
.banner {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	background: url(../src/images/bg.jpg) no-repeat center top;
	background-size: cover;
}
.banner .overlay {
	background: rgba(1, 24, 29, 0.5);
	height: 100vh;
	position: absolute;
	z-index: 99;
	width: 100%;
}
.mainLogin {
	width: 320px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	height: 330px;
}
.mainLogin .blueLogoBabul {
	background: rgba(255, 255, 255, 0.3);
	width: 100%;
	margin: auto;
	border-radius: 5px;
	text-align: center;
	padding: 12px 0;
}
.mainLogin h3{
	color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 20px;
	font-family: 'Open Sans bold';
}
.landingFooter {
	padding: 30px 0;
}
.landingFooter .linksMain {
	text-align: right;
}
.landingFooter .linksMain a {
	color: inherit;
	padding: 0 10px;
}
.landingFooter .linksMain a:last-child {
	padding-right: 0px;
}
.loginUserID, .loginPassword {
	background: no-repeat center right;
	background-image: url(../src/images/userIcon.png);
}
.loginPassword {
	background-image: url(../src/images/lockIcon.png);
}
.megaMenuMain h3 {
	color: #fff;
	font-size: 18px;
	padding: 0.3rem .5rem;
}
.megaMenuMain .nav-link {
	font-size: 14px;
}
.navbar .dropdown-menu div[class*="col"] {
	margin-bottom: 1rem;
}
.navbar .dropdown-menu {
	border: none;
	background-color: #296186!important;
	border-radius: 0px;
}
.copyText {
	padding: 5px 0 5px 15px;
	margin-bottom: 0px;
	margin-left: 235px;
	background: #f7f7f7;
	color: #999;
}
.loginFeildMain .form-control {
	height: 35px;
	border: none;
	border-radius: 4px 0 0 4px
}
.loginFeildMain .input-group-text {
	line-height: 22px;
	min-width: 40px;
	background: #fff;
	border-radius: 0 .25rem .25rem 0 !important;
	border: none;
}
.loginFeildMain {
	position: relative;
}
.loginFeildMain .errorMessage {
	position: absolute;
	top: calc(100% - 3px);
	padding: 2px 12px;
	z-index: 1;
	font-size: 11px;
	background: #e87928;
	color: #fff;
	width: 100%
}
.loginFeildMain .errorMessage::before {
	position: absolute;
	content: '';
	width: 6px;
	height: 6px;
	top: -6px;
	left: 15px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #e87928;
}
.batchDetails td {
	padding: 10px;
	vertical-align: middle;
}
.batchDetails p {
	margin-bottom: 0px;
	color: #848484
}
.batchDetails p span {
	font-family: 'Open Sans bold';
	color: #000
}
.mainDash > ul > li {
	float: left
}
.mainDash > ul > li:first-child {
	width: 320px;
}
.mainDash > ul > li:last-child {
	width: calc(100% - 320px);
}
.listOps li {
	padding: 8px 10px;
	font-family: 'Open Sans Semibold';
}
.listOps li p {
	margin: 0px;
	padding-left: 25px;
	font-family: 'Open Sans';
	font-size: 11px;
}
.listOps li.recentLogOut {
	font-family: 'Open Sans';
	opacity: 0.5
}
.listOps li:nth-child(odd) {
	background: #f2f1f2;
}
.listOps li .count {
	width: 20px;
	display: inline-block;
}
.listInter li {
	border-bottom: #f1f1f1 solid 1px;
	padding: 7px 50px 8px 10px;
	font-family: 'Open Sans';
	cursor: pointer;
	position: relative;
}
.listInter li .addBtn {
	position: absolute;
	top: 7px;
	right: 7px;
	font-size: 12px;
	opacity: 0.6;
	padding-top: 1px;
}
.listInter li:hover {
	background: #f8f8f8 !important;
}
.listInter li:hover .addBtn {
	opacity: 1;
}
.listInter li:nth-child(odd) {
	background: none;
}
.viewSop {
	background: url(/src/images/bgSop.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	display: block;
	padding: 12px;
	margin-top: 15px;
}
.viewSop:hover {
	color: #fff;
}
.viewSop h3 {
	margin: 0px;
	font-size: 24px;
	font-family: 'Open Sans bold';
}
.viewSop p {
	margin: 0px;
}
#plannedTab {
	border-right: #ccc solid 1px;
	border-top: #ccc solid 1px;
	background: #fff;
	border-bottom: none;
	padding-left: 15px;
}
#plannedTab .nav-link {
	border: none;
	min-width: 120px;
	text-align: center;
	font-family: 'Open Sans Semibold';
	color: #333
}
#plannedTab .nav-link.active {
	border-bottom: #57ad68 solid 2px;
	position: relative;
	color: #57ad68;
}
#plannedTab .nav-link.active::before {
	position: absolute;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #28a745;
	bottom: 0px;
	right: 0;
	left: 0;
	width: 6px;
	height: 6px;
	margin: auto;
}
#toggleIntBtn {
	width: 30px;
	height: 30px;
	right: 6px;
	top: 3px;
	color: #333;
	position: absolute;
	line-height: 30px;
	text-align: center;
}
#toggleIntBtn.active {
	transform: rotate(90deg)
}
.addedInterAccor .btn-link, .addedInterAccor .btn-link.collapsed {
	width: 100%;
	background: #848688;
	color: #fff;
	text-align: left;
	font-size: 13px;
	margin-bottom: 2px;
}
.addedInterAccor .btn-link:hover, .addedInterAccor .btn-link:focus {
	text-decoration: none
}
.addedInterAccor .btn-link.collapsed .fa, .addedInterAccor .btn-link .fa {
	float: right;
	width: 18px;
	text-align: center;
	height: 18px;
	line-height: 22px;
	transform: rotate(-0deg);
	transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	-webkit-transition: all ease 0.2s;
}
.addedInterAccor .btn-link .fa {
	transform: rotate(-90deg)
}
.addedInterAccor .btn-link {
	background: #0191c8;
	border-radius: 0px;
}
.newBtn {
	position: absolute;
	top: 7px;
	right: 40px;
}
.addListPop li.active {
	background: #848688;
	color: #fff;
}
#pdfContainer {
	position: fixed;
	z-index: 9999;
	width: 100%;
	text-align: center;
	top: 0px;
	background: rgba(255, 255, 255, 0.9);
	transition: ease all 0.3s;
	-webkit-transition: ease all 0.3s;
	-moz-transition: ease all 0.3s;
	right: 100%;
	height: 100vh;
}
.filterLinkMain span {
	display: inline-block;
	padding: 5px 15px;
	margin-bottom: 10px;
	cursor: pointer;
}
.filterLinkMain span.active {
	text-decoration: underline;
	color: #0191c8
}
.searchSmall, .dateSmall {
	float: right;
	background: url(../src/images/search.png)#fff no-repeat 5px center;
	padding: 3px 10px 3px 25px;
	border: #ccc solid 1px;
	font-size: 12px;
	height: 26px;
}
.dateSmall {
	background: url(../src/images/calendar.png)#fff no-repeat 4px center;
}
.selectSmall {
	float: right;
	background: #fff;
	padding: 3px 5px 3px 5px;
	border: #ccc solid 1px;
	font-size: 12px;
	height: 26px;
}
.limitMain {
	display: inline-block;
	line-height: 12px;
	margin: 0px;
	/* float: right; */
	width: 100px;
	font-size: 14px;
	margin-top: 4px !important;
}
.limitMain span {
	font-size: 14px;
	font-family: 'Open Sans bold';
	color: #005b9a
}
.dashTile li .mainTile {
	color: #fff;
	padding: 15px 5px;
	text-align: center;
	margin-bottom: 16px;
}
.dashTile li .mainTile p {
	margin: 0px;
	font-size: 16px;
}
.myProfile .picMain {
	background: #274459;
	padding: 15px 0;
	text-align: center;
	color: #fff;
}
.myProfile .picMain h3 {
	margin: 10px 0 3px 0;
	font-size: 18px;
}
.myProfile .picMain .thumb {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: url(../src/images/avatar_profile.png)#ccc no-repeat center center;
	background-size: cover;
	display: block;
	margin: auto;
	border: #fff solid 2px;
}
.dashTile li .mainTile {
	background: #848688;
	cursor: pointer;
}
.dashTile li.active .mainTile {
	background: #57ad68;
}
.greenDot {
	width: 8px;
	height: 8px;
	display: inline-block;
	background: #57ad68;
	border-radius: 50%;
	margin: 7px 1px 0 1px;
}
.blink {
	animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
.dashBoardMain .leftGraphs {
	width: 420px;
	position: fixed;
	height: calc(100vh - 35px);
	background: #fff;
	top: 42px;
	right: 0px;
	overflow: auto;
	padding: 5px 15px;
	transition: ease all .3s;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.10);
}
.dashBoardMain .mainContent {
	width: calc(100% - 450px);
	margin-left: 15px;
	transition: ease all .3s;
	max-width: 1300px;
}
.dashBoardMain .mainContent.fullWidth {
	width: calc(100% - 30px);
	margin-left: 15px;
}
#tatsGraph {
	width: 50px;
	position: fixed;
	right: -14px;
	top: 62px;
	height: 24px;
	transform: rotate(-90deg);
	background: #0191c8;
	text-align: center;
	line-height: 24px;
	color: #fff;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
}
#closeRightBtn {
	cursor: pointer
}
.leftGraphs table td {
	vertical-align: middle;
}
.mainPasswordPolicy .form-control {
	height: 28px !important;
	max-width: 80px;
	float: left;
	margin-right: 15px;
}
.packTypeTab li a {
	background: #0191c8;
	display: block;
	text-align: center;
	padding: 15px 10px;
	border: #ccc solid 1px;
	color: #fff !important;
	position: relative;
	cursor: pointer;
}
.packTypeTab li a img {
	max-height: 39px
}
.packTypeTab li a::after {
	position: absolute;
	content: '';
	width: 8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #0191c8;
	bottom: -8px;
	right: 0;
	left: 0;
	margin: auto;
}
.packTypeTab li a p {
	margin: 5px 0 0 0;
}
.packTypeTab li a.inactive {
	background: #f2f2f2;
	color: #545454 !important;
}
.packTypeTab li a.inactive::after {
	content: none;
}
.containerDetails ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.containerDetails ul li {
	background: #f1f1f1;
	display: table;
	width: 100%;
	margin-bottom: 1px;
}
.containerDetails ul li p {
	display: table-cell;
	padding: 4px 10px;
}
.containerDetails ul li p.label {
	background: #727272;
	color: #fff;
	width: 160px;
	position: relative
}
.containerDetails ul li p.label::after {
	position: absolute;
	content: '';
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	border-left: 5px solid #727272;
	top: 9px;
	right: -5px;
}
.myCusAccordian .card-header {
	padding: 0px;
	background: #0191c8;
	border-radius: 0px;
}
.myCusAccordian .card-header .btn-link {
	font-size: 14px;
	color: #fff;
	width: 100%;
	text-align: left;
	font-family: 'Open Sans bold';
}
.myCusAccordian .card-body {
	padding: 15px;
	border: #ccc solid 1px;
}
.myCusAccordian .card {
	border-radius: 0px;
	border: none;
	padding-bottom: 2px;
}
.summaryTable thead th {
	white-space: nowrap
}
.mainTile {
	background: #0191c8;
	display: block;
	color: #fff;
	padding: 10px 15px;
	margin-bottom: 12px;
	border-radius: 4px;
	position: relative;
}
.tileSction .col-sm-6:nth-child(even) .mainTile {
	background: #005b9a;
}
.mainTile span.ic {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 32px;
}
.mainTile p {
	margin: 0px;
}
.mainTile h3 {
	font-family: 'Open Sans bold';
	min-height: 33px;
}
.mainTile:hover {
	color: #333;
	background: #e4e4e4 !important;
}
.mainTile .table {
	margin: 0px;
}
.mainTile .table td {
	border: none;
}
.blisterPackStyle ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.blisterPackStyle ul li {
	float: left;
	width: 50px;
}
.blisterPackStyle ul li.smallW {
	width: 30px;
	text-align: center;
}
.finCodeTile {
	background: #f1f1f1;
	padding: 10px;
	text-align: center;
	margin: 15px 0 0 0;
	border: #ccc solid 1px;
	cursor: pointer;
}
.finCodeTile p {
	margin: 0px;
}
.finCodeTile.completed {
	background: #57ad68;
	color: #fff;
	border: #619e77 solid 1px
}
.matchDetails.active {
	background: #ffefd0;
	border: #dec695 solid 1px;
}
.fc-widget-header th {
	background: #0191c8;
	color: #fff;
	font-weight: normal;
	padding: 7px 0 !important;
}
.mainList span {
	background: #ccc;
	display: inline-block;
	padding: 2px 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	font-size: 12px;
}
.mainList span:hover {
	background: #0191c8;
	color: #fff;
}
.mainList span i {
	cursor: pointer;
	font-size: 12px;
	margin-left: 5px;
}
.prenentMeeting {
	position: absolute;
	z-index: 9;
	left: 0px;
	right: 0px;
	margin: auto;
	max-width: 800px;
	top: 58px;
	text-align: center;
}
.alert-dismissible .close {
	padding: .25rem 0.7rem;
	font-size: 18px;
}
.daysWise {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.daysWise li {
	float: left;
}
.daysWise li:first-child {
	width: 80px;
}
.daysWise li:last-child {
	width: calc(100% - 80px);
}
.sideTab a {
	background: #0191c8;
	color: #fff;
	display: block;
	text-align: center;
	border-radius: 5px 0 0 5px;
	font-family: 'Open Sans bold';
	margin-bottom: 5px;
}
.sideTab span {
	font-size: 11px;
	font-family: 'Open Sans';
}
.sideTab p {
	line-height: 14px;
	padding: 5px 0;
	margin: 0px;
}
.sideTab .addBtn {
	background: #57ad68;
	padding: 5px 0;
	font-size: 18px;
}
.penWMain {
	list-style: none;
	padding: 0px;
	margin: 0px;
	position: relative;
}
.penWMain:before {
	position: absolute;
	content: '';
	width: 1px;
	height: calc(100% - 35px);
	background: #ccc;
	left: 3px;
	top: 7px;
}
.penWMain li {
	padding: 0 0 10px 15px;
	position: relative;
	min-height: 50px;
}
.penWMain li::before {
	position: absolute;
	content: '';
	width: 7px;
	height: 7px;
	background: #ccc;
	left: 0px;
	top: 4px;
	border-radius: 50%;
}
.penWMain li.complete::before {
	background: #33a1a0;
}
.penWMain li.current::before {
	background: #dd9042;
}
.penWMain li p, .penWMain li span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.penWMain li p {
	font-size: 13px;
	margin: 0px;
}
.penWMain li span {
	font-size: 12px;
	margin: 0px;
	color: #777;
}
@keyframes blinker {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.3;
	}
}
.teamsMain {
	padding: 5px 15px 10px 15px;
}
.teamsMain a {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: 7px 8px 0px 0;
	background: url("../src/images/avatar_profile.png")no-repeat center center;
	background-size: cover;
	border-radius: 50%;
	border: #ccc solid 1px;
}
ul.listofProjects, .teamMain {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
ul.listofProjects > li {
	border: #ccc solid 1px;
	padding: 8px 8px 8px 10px;
	margin-bottom: 3px;
}
ul.listofProjects > li.completed {
	border-left: #57ad68 solid 5px;
}
ul.listofProjects > li.inprogress {
	border-left: #ffa900 solid 5px;
}
ul.listofProjects > li h3 {
	font-size: 14px;
	margin: 0px;
	font-family: 'Open Sans bold';
}
ul.listofProjects > li p {
	color: #848887;
	margin-bottom: 0px;
}
.teamMain {
	height: 21px;
}
.teamMain li {
	width: 40px;
	height: 40px;
	margin-right: 1px;
	display: inline-block;
	border: #ccc solid 1px;
	border-radius: 50%;
	background: no-repeat center center;
	background-size: cover;
	transition: ease .2s all;
}
.teamMain li:hover {
	width: 46px;
	height: 46px;
	position: relative;
	z-index: 9;
	top: -3px;
}
#preloader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 1);
	z-index: 999;
	height: 100%;
}
#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}
.content {
	width: 100%;
	display: block;
	margin: 0 auto;
}
.statusCir {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 50%;
	background: #ccc;
}
.statusCir.completed {
	background: #28a745;
}
.statusCir.inprogress {
	background: #e19129;
}
.mNav {
	background: #464646;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.userDetails {
	line-height: 16px;
	color: #fff;
}
.userDetails .userID {
	color: #f79033;
	font-size: 11px;
}
.rightP {
	max-width: 120px;
	float: right;
	margin: 0 3px;
	border-radius: 4px;
	height: 32px !important
}
.totalH {
	font-family: 'Open Sans bold';
	border: #5db354 solid 2px;
	text-align: center;
	line-height: 28px;
	color: #fff;
	padding: 0 20px;
	font-size: 14px;
}
.userDetails {
	float: left;
}
.userDetails p {
	margin: 0px;
}
.mainDayList ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.mainDayList ul li {
	background: #fff;
	border-radius: 4px;
	margin-bottom: 2px;
	border: #eaeaea solid 1px
}
.mainDayList ul li:nth-child(even) {
	background: #f4f4f4;
}
.dateFormat h3 {
	margin: 0px;
	font-size: 18px;
	font-family: 'Open Sans bold';
	line-height: inherit;
}
.dateFormat p {
	margin: 0px;
}
.rotateArrow {
	float: right;
	background: #0191c8;
	color: #fff;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	margin: 10px;
	border-radius: 50%;
}
.rotateArrow.rotateMe {
	transition: ease all 0.2s;
	-webkit-transition: ease all 0.2s;
	-moz-transition: ease all 0.2s;
	transform: rotate(-90deg);
}
.rotateArrow:hover {
	color: #fff;
}
.timeBadge {
	float: right;
	font-family: 'Open Sans bold';
	line-height: 28px;
	margin-top: 7px;
	padding: 0 15px;
	font-size: 14px;
}
.mainDayList ul li .titleList {
	float: left;
	margin: 15px 0 0 10px;
	line-height: 16px;
}
.mainDayList ul li .titleList h3 {
	padding: 0px;
	font-size: 14px;
	margin: 0px;
	font-family: 'Open Sans bold';
}
.mainDayList ul li .titleList p {
	margin: 0px;
}
.dateFormat {
	background: #5db354;
	color: #fff;
	padding: 5px;
	width: 50px;
	text-align: center;
	line-height: 18px;
	border-radius: 4px 0 0 4px;
	float: left;
}
.holiday .dateFormat {
	background: #8b8b8b;
	opacity: 0.5
}
.holiday .titleList, .currentDay .titleList {
	margin-top: 15px !important;
}
.holiday .rotateArrow, .currentDay .rotateArrow {
	background: #5db354;
}
.currentDay .dateFormat {
	background: #f79033;
}
.floatDiv {
	background: #fff !important;
	border: none !important;
}
.floatDiv table {
	margin: 0px;
}
@media screen and (min-width: 992px) {
	.navbar {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.navbar .dropdown {
		position: static;
	}
	.navbar .dropdown-menu.megaMenuMain {
		width: 100%;
		left: 0;
		right: 0;
		top: 45px;
	}
}
@media (max-width: 960px) {
	#myVideo {
		height: 100vh !important;
		max-width: inherit;
	}
}
@media (max-width: 420px) {
	.dashBoardLogo {
		display: none;
	}
}
@media (min-width: 720px) {
	.modal-dialog {
		max-width: 480px;
		margin: 1.75rem auto;
	}
}
#f{
width:500px;margin:auto;
}
    select{
        width:250px;    
    }
      select{
        background-color:rgb(235,235,235);
    }
    #b4{
background-color:rgb(1,144,200);color:white;padding:10px;
}
#d{
border:1px solid black;
}
  td{
        
        padding:10px;
    }
  
    select{
        width:250px;    
    }
    p{
        margin:0;
        padding:0;
    }
       select{
        background-color:rgb(235,235,235);
    }
#nav{
background-color:rgb(1,144,200) !important;margin-bottom:0 !important;
}
#b1{
background-color:rgb(255,169,1);color:white;padding:5px;
}
#b2{
background-color:rgb(232,76,61);color:white;padding:5px;margin-left:55px;
}
#b3{
margin:20px;
}
#f{
width:500px;margin:auto;
}
#d{
border:1px solid black;
}
#b4{
background-color:rgb(1,144,200);color:white;padding:10px;
}
th {
    background: #848484;
    color: #fff;
    border: #a2a2a2 solid 1px;
    font-weight: normal;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 2px;
  border: 1px solid #888;
  width: 50%;
 border-radius:0px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
    padding: 0.4rem 1rem;
    background: #296186;
    color: #fff;
    border-radius: 0px;
}
.titleHeadding {
    background: #0191c8;
    color: #fff;
    font-size: 13px;
    margin: 0px;
    padding: 7px 12px;
}
.searchInTab {
    max-width: 120px;
    border: none;
    padding: 3px 5px;
    font-size: 12px;
    float: right;
    position: relative;
    top: -2px;
    right: -10px;
    border-radius: 4px;
}
#i{
margin-right:-1px !important;
margin-left:-1px !important;
}
.bs-example{
        margin: 0px;
    }
       .mainTile {
	background: #0191c8;
	display: block;
	color: #fff;
	padding: 10px 15px;
	margin-bottom: 12px;
	border-radius: 6px;
	position: relative;
}

.tileSction .col-sm-6:nth-child(even) .mainTile {
	background: #005b9a;
}
.mainTile span.ic {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 32px;
}
.mainTile p {
	margin: 0px;
}
.mainTile h3 {
	font-family: 'Open Sans bold';
	min-height: 33px;
}
.mainTile:hover {
	color: #333;
	background: #e4e4e4 !important;
}
.mainTile .table {
	margin: 0px;
}
.mainTile .table td {
	border: none;
}


	

	body {
		font-size: 13px;
		font-family: 'Open Sans';
		background: #fff;
		color: #000;
	}
	a, .btn, .roundedOlBtn {
		transition: all ease 0.2s;
		-webkit-transition: all ease 0.2s;
		-moz-transition: all ease 0.2s;
	}
	a:hover {
		text-decoration: none;
	}
	hr {
		margin: 0.5rem 0;
	}
	ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
	}
	.clear {
		clear: both;
	}
	.star {
		font-family: 'Open Sans bold';
		font-size: 16px;
		color: red;
		line-height: 16px;
	}
	.table td, .table th {
		padding: 0.25rem;
		font-size: 13px;
	}
	.table-bordered td, .table-bordered th {
		border: 1px solid #c9cbce;
	}
	.mt10 {
		margin-top: 10px;
	}
	.mt12 {
		margin-top: 12px;
	}
	.mt15 {
		margin-top: 15px;
	}
	.mt22 {
		margin-top: 22px;
	}
	.mt70 {
		margin-top: 70px;
	}
	.p12 {
		padding: 12px;
	}
	.minH100vh {
		min-height: 100vh;
	}
	.minW80 {
		min-width: 70px;
	}
	.minW100 {
		min-width: 100px;
	}
	.maxW100 {
		max-width: 100%;
	}
	.font12 {
		font-size: 12px !important;
	}
	.font14 {
		font-size: 14px !important;
	}
	.font16 {
		font-size: 16px !important;
	}
	.font18 {
		font-size: 18px !important;
	}
	.font20 {
		font-size: 20px !important;
	}
	.boldF {
		font-family: 'Open Sans bold';
	}
	.alert {
		padding: 4px 12px;
	}
	.btn:focus, .btn.focus, .form-control:focus {
		box-shadow: none;
	}
	.form-control {
		font-size: 13px;
		height: 28px;
		border-radius: 0px;
		padding: .3rem .75rem;
	}
	.greenC {
		color: #57ad68
	}
	.orangeC {
		color: #ffa900
	}
	.redC {
		color: #e74c3c
	}
	.bg-primary {
		background-color: #0191c8!important;
	}
	.grayFont {
		color: #a1a1a1;
		display: inline-block;
		min-width: 120px;
	}
	span.grayFont i {
		width: 20px;
		text-align: center;
	}
	/*.collapse:not(.show) {
		display: none !important;
	}*/
	textarea.form-control {
		height: auto!important
	}
	select.form-control:not([size]):not([multiple]) {
		height: calc(26px+ 2px);
		padding-top: 4px;
	}
	.modal-header {
		padding: 0.4rem 1rem;
		background: #296186;
		color: #fff;
		border-radius: 0px;
	}
	.modal-content {
		background: none;
	}
	.modal-body, .modal-footer {
		background: #fff;
	}
	.modal-header .close {
		color: #fff;
		opacity: 1;
		text-shadow: none;
		font-size: 18px;
		padding: 0px;
		width: 32px;
		height: 32px;
		margin-top: -7px;
	}
	.modal-title {
		font-size: 14px;
	}
	.brNone {
		border-radius: 0px;
	}
	.hidden {
		display: none;
	}
	.roundedOlBtn:hover {
		background: #33a1a0;
		border: #33a1a0 solid 2px;
		color: #fff;
		cursor: pointer;
	}
	.btn-info {
		background-color: #33a1a0;
		border-color: #33a1a0;
	}
	.btn-warning {
		color: #fff;
		background-color: #dd9042;
		border-color: #d4883b;
	}
	.btn-warning:hover, .btn-warning:focus {
		color: #fff;
	}
	.xsBtn {
		padding: 0px 7px;
		font-size: 12px;
	}
	.btn-sm {
		height: 28px;
		padding: .15rem .5rem;
	}
	.form-group {
		margin-bottom: 0.6rem;
	}
	label {
		margin-bottom: 0.2rem;
	}
	.disPlayDes {
		background: #e3e3e3;
		padding: 6px 10px;
		margin: 5px 0px 10px 0px;
	}
	.row {
		margin-right: -6px;
		margin-left: -6px;
	}
	.row .col, .row [class*="col-"] {
		padding-right: 6px;
		padding-left: 6px;
	}
	.breadcrumb {
		padding: 15px 0;
		background: none;
		margin-bottom: 0px;
		display: -webkit-inline-flex;
		display: -ms-inline-flexbox;
		display: inline-flex;
		position: relative;
		width: 100%;
	}
	.rightBtn {
		position: absolute;
		right: 0px;
		top: 13px;
	}
	.table thead th {
		background: #848484;
		color: #fff;
		border: #a2a2a2 solid 1px;
		font-weight: normal;
	}
	.whiteCard {
		background: #fff;
		border: #ccc solid 1px;
		border-radius: 0 0 4px 4px;
	}
	.titleHeadding {
		background: #0191c8;
		color: #fff;
		font-size: 14px;
		margin: 0px;
		padding: 7px 12px;
	}
	.smallHeading {
		font-size: 16px;
		font-family: 'Open Sans Semibold';
	}
	.scrollCon {
		height: 310px;
		overflow: auto;
		margin-bottom: 15px;
	}
	.ssBtn {
		line-height: 18px;
		font-size: 12px;
		position: absolute;
		right: 40px;
		top: 7px;
	}
	.nav-tabs {
		border: none;
	}
	.nav-tabs .nav-link {
		background: #7d7d7d;
		border-radius: 0px;
		margin-right: 5px;
		color: #fff;
		padding: 5px 15px;
	}
	.nav-tabs .nav-link.active {
		background: #e19129;
		border: #e19129 solid 1px;
		color: #fff
	}
	.nav-tabs .nav-item:last-child .nav-link {
		margin-right: 0px;
	}
	.bg1 {
		background: #57ad68 !important;
	}
	.bg2 {
		background: #22bbea !important;
	}
	.bg4 {
		background: #005b9a !important;
	}
	.bg3 {
		background: #0191c8 !important;
	}
	.bg5 {
		background: #e74c3c !important;
	}
	.bg6 {
		background: #ffa900 !important;
	}
	.tooltip > .tooltip-inner {
		background-color: #000;
		font-size: 12px;
		width: 100%;
	}
	.tooltip > .tooltip-arrow {
		border-bottom-color: #000;
	}
	.tooltip > .tooltip-inner p {
		margin: 0px 0px 5px 0px;
		line-height: 16px;
	}
	.notify {
		background: #ffa900;
		min-width: 20px;
		height: 20px;
		display: inline-block;
		position: absolute;
		top: -7px;
		text-align: center;
		line-height: 20px;
		right: -6px;
		border-radius: 50%;
	}
	.tooltip .tooltip-inner {
		padding-top: 8px;
	}
	.tooltip img {
		max-width: 100%;
	}
	.vertiTabMain {
		padding: 0px;
		margin: 0px;
		list-style: none;
	}
	.vertiTabMain li {
		float: left;
		list-style: none
	}
	.vertiTabMain li:first-child {
		width: 150px;
	}
	.vertiTabMain li:last-child {
		width: calc(100% - 150px);
		border-left: #ccc solid 1px;
		padding-left: 5px;
	}
	.vPillsMain .nav-link {
		background: #6c6c6c;
		color: #fff;
		border-radius: 0px;
		text-align: center;
		margin-bottom: 2px;
	}
	.vPillsMain .nav-link.active {
		background-color: #dd9042;
	}
	.topNav {
		background: #0191c8;
		padding: 0px;
		box-shadow: 0 2px 3px 0 rgba(0,0,0,0.12), 0 2px 5px 0 rgba(0,0,0,0.10);
	}
	.topNav .nav-link {
		padding: .3rem 1rem;
		color: rgba(255,255,255,1) !important
	}
	.navbar-brand {
		width: 48px;
		height: 48px;
		background: #005b9a;
	}
	.navbar-brand .brandIcon {
		width: 32px;
		height: 32px;
		background:url(../src/images/spriteImg.png) no-repeat; 
		background-position: 0 -32px;
		display: inline-block;
		margin: 6px 0 0 8px;
	}
	.dashBoardLogo {
		width: 73px;
		height: 17px;
		text-align: center;
		line-height: 23px;
		font-size: 14px;
		color: #fff;
		background: url("../src/images/dashboard.png") no-repeat;
		display: inline-block;
		position: absolute;
		left: 0px;
		right: 0px;
		top: 16px;
		margin: auto;
	}
	.rightDDMenu {
		margin-right: 8px;
	}
	.rightDDMenu .avatarIcon {
		width: 30px;
		height: 30px;
		display: inline-block;
		border-radius: 50%;
		border: #fff solid 2px;
		background: url(../src/images/Staff/16.jpg) no-repeat center center;
		background-size: cover;
		float: right;
    }
	.rightDDMenu p {
		margin-bottom: 0px;
		white-space: nowrap;
	}
	.rightDDMenu::after {
		border: none;
	}
	.userNameNid {
		text-align: right;
		float: right;
		margin-right: 10px;
		color: #fff;
		line-height: 16px;
	}
	.userNameNid span {
		font-size: 12px;
	}
	.profileDDmenu {
		background: #296186;
		border-radius: 0px;
		right: 15px !important;
		font-size: 13px;
		padding: 0px;
	}
	.profileDDmenu::before {
		position: absolute;
		content: '';
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #296186;
		top: -8px;
		right: 6px;
	}
	.profileDDmenu a {
		color: #fff;
		padding: 7px 15px;
		border-bottom: #205273 solid 1px;
	}
	.profileDDmenu a:hover {
		background: #184563;
		color: #fff;
	}
	.profileDDmenu a .fa {
		margin-right: 8px;
	}
	.leftMain, .contentMain {
		transition: all ease 0.3s;
		-webkit-transition: all ease 0.3s;
		-moz-transition: all ease 0.3s;
	}
	.leftMain {
		width: 250px;
		height: calc(100vh - 48px);
		position: fixed;
		background: #495358;
		top: 48px;
		z-index: 2;
		color: #fff;
		padding: 0px 15px 0 0;
		overflow: auto;
		left: 0px;
	}
	input {
		outline: none;
	}
	.mm{
		margin: 10px !important;
	}
#bt{
	width: 100%;
	text-align: left;
	background: #0190c8;
	color: #fff;
	padding: 0px;
	line-height: 48px;
}
.bb{
	background: #005b9a;
	font-size: 22px;    
                padding: 14px;
}
.bb1{
	position: absolute;
	color: white;
	font-size: 22px;
	left: 100px;
	top: 5px;
	padding: 5px 15px;

}
.aa{
	position: absolute;
                right: 10px;
                top: 5px;
                color: #fff;
                
                padding: 5px 15px;
}